.leftnav-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  padding: 8px;
  box-sizing: border-box;
}

.search-box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 2px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: #fff;
}

.search-box input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 13px;
  padding: 4px;
  background-color: transparent;
}
.search-box input ::placeholder, .search-box input ::-ms-input-placeholder {
  color: rgb(156 163 175);
}
.search-box .shortcut {
  font-size: 12px;
  padding: 4px 2px;
  border-radius: 4px;
  color: rgb(163 163 163);
  background-color:  rgb(245 245 245);
  margin-right: 3px;
}

.search-box .icon {
  /* position: absolute; */
  height: 20px;
  width: 20px;
  padding-left: 4px;
  padding-right: 0px;
  color: rgb(156 163 175);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.nav-item {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-item:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); 
}

.nav-item .icon {
  margin: 0px 4px;
  font-size: 14px;
  padding-right: 0px;
  color: #555;
}

.nav-item span {
  display: flex;
  flex: 1;
  margin: 0px 8px;
  font-size: 14px;
  color: #333;
}

.expandable-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.expandable-section > .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.expandable-section > .section-header:hover {
  background-color: #f0f0f0;
}

.expandable-section .section-header .nav-item:hover {
  background-color: transparent;
  box-shadow: none;
}

.expandable-section > .section-content {
  display: none;
  flex-direction: column;
  padding-left: 16px;
  margin-top: 4px;
}

.expandable-section.expanded > .section-content {
  display: flex;
}

.expandable-section .section-content .nav-item {
  border: 1px solid rgb(229 231 235);
  margin: 2px 0px;
  padding: 4px 2px;
}

.expandable-section .section-content .nav-item .hamburger-icon{
  color: rgb(156 163 175);
  margin-right: 4px;
}
.help-section {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-top: 16px;
  border-top: 1px solid #e0e0e0;
  cursor: pointer;
  color: #555;
  font-size: 14px;
}

.help-section span:first-child {
  margin-right: 8px;
}

.help-section:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}
.icon-container {
  align-items: center;
  justify-content: center;    
}
.icon-container .icon {
  width: 100%;
  height: 100%;
}
.icon {
  padding-right: 8px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #555;
}