.billingContainer {
  margin-left: 20px;
  margin-top: 20px;
  max-width: 700px;
}

.planCard {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  margin-top: 20px;
}

.planHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.notUpgraded {
  color: #ff4d4f;
  font-weight: bold;
  font-size: 0.8em;
  background-color: #ffeded;
  padding: 3px 8px;
  border-radius: 12px;
}

.planType {
  margin-top: -10px;
}

.planDetails {
  margin-top: 15px;
  line-height: 1.4;
  font-size: 0.9em;
}

.upgradeButton {
  margin-top: 20px;
  background-color: #000;
  color: white;
  width: 100%;
}

.advancedInfoTitle {
  margin-top: 30px;
  font-weight: bold;
}

.advancedInfoText {
  margin-top: 5px;
  color: #7a7a7a;
}

.advancedButton {
  margin-top: 10px;
  background-color: #000;
  color: white;
  width: 100%;
}