.container {
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #eaeaea;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f4f4f4;
  }
  .noResults {
    text-align: center;
    color: #888;
    padding: 20px;
    height: 100px;
    vertical-align: middle;
  }

.noResultsWrapper {
    display: flex;           /* Enable flexbox on the wrapper */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
    height: 100%;            /* Make the wrapper take the full height of the cell */
    color: #888;
  }
  
  .selectedRows {
    margin-top: 10px;
    text-align: left;
    color: #888;
  }
   

 
   